form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

form h2{
    color: $primary-color;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
   
}

form input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

form textarea{
    min-height: 200px;
    max-height: 300px;
    max-width: 100%;
    min-width: 100%;
}

#boton{
    background: gray;
    color: $primary-color;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}