#menu a{
    font-size: 14px;
    font-weight: map-get($font-weights, medium);
    color: $primary-color;
}

li:hover a{
    background-color: $bg-col;
}

#menu button{
    font-size: 14px;
    font-weight: map-get($font-weights , bold)
}
.carousel-inner{
    max-height: 50rem;
}
footer{
    background: $bg-col;
    min-height: 100px;
}

#iconos i{
    font-size: 20px;
    padding: 0 8px;
    color: $primary-color;
}

h1{
    font-weight: map-get($font-weights , medium);
}