#menu a{
    font-size: 14px;
    font-weight: bold;
    color: $primary-color;
}

li:hover a{
    background-color: black;
}

#menu button{
    font-size: 14px;
    font-weight: bold;
}
.carousel-inner{
    max-height: 50rem;
}
footer{
    background: black;
    min-height: 100px;
}

#iconos i{
    font-size: 20px;
    padding: 0 8px;
    color: $primary-color;
}